<% provide(:title, 'Music') %>

<script>
var button = document.getElementById("music");
button.className += "current";
</script>

<div class='center hero-unit'>
  <% @tracks.each do |track| %>
    <%= render track, trackURL: track.url %>
  <% end %>
</div>
