<script>
var button = document.getElementById("home");
button.className += "current";
</script>

<div class='center hero-unit'>
  <ul style='list-style-type: none;'>
    <li>check out my <%= link_to "GitHub", "https://github.com/dannyighsu", target: "_blank" %></li>
    <li>listen to my <%= link_to "SoundCloud", "https://soundcloud.com/18rhythms/tracks", target: "_blank" %></li>
    <li>connect with me on <%= link_to "LinkedIn", "https://www.linkedin.com/profile/view?id=AAMAAA36yFEBEPR57MKWUISeTXCyRSh0CKj-IE0&trk=hp-identity-name", target: "_blank" %></li>
  </ul>
</div>
