<%= link_to 'Back to the main site', root_path, id: 'back-link' %>

<div class='center hero-unit'>

  <h1>Vector</h1>
  <h3>The Best Way to Fuck Your Friends Up</h3></br>

  <p><b>
    The gist:
  </b></p>
  <p>
    Vector is a game that can be played with a group of 4 to 10 people. Decide who goes first among the group. When it is a player's turn, that player counts to three and then points at another participant. The person who is pointed at must then drink a quarter cup of beer. On the following round, the person who just drank now takes their turn.
  </p></br>
  <p><b>
    There are just a few extra rules:
  </b></p>
  <p>
    1. A person can block (cross their arms in an X shape) when the active player points if they suspect they are to be the next victim. If the block is successful, the active player then has to drink a full cup of beer. If not, the player who blocked must then drink a quarter cup of beer.
  </p>
  <p>
    2. A player cannot point at the person that just pointed at them.
  </p>
  <p>
    3. Before pointing, the active player should talk as much trash as possible to psych everyone out.
  </p>

  <h3>Happy drinking!</h3>
  <%= image_tag "151.jpg" %>

</div>
