<%= link_to 'Back to the main site', root_path, id: 'back-link' %>

<div class='center hero-unit'>

  <h1>Vector</h1>
  <h3>The Best Way to Fuck Your Friends Up</h3></br>

  <p><b>
    The gist:
  </b></p>
  <p>
    Vector is a game that can be played with a group of 4 to 10 people. Decide who goes first among the group. When it is a player's turn, that player counts to three and then points at another participant. The person who is pointed at must then drink a quarter cup of beer. On the following round, the person who just drank now takes their turn.
  </p></br>
  <p><b>
    There are just a few extra rules:
  </b></p>
  <p>
    <b>1.</b> Blocking: A person can block (cross their arms in an X shape) when the active player points if they suspect they are to be the next victim. If the block is successful, the active player then has to drink a full cup of beer. If not, the player who blocked must then drink a quarter cup of beer.
  </p>
  <p>
    <b>2.</b> If the game has 5-7 people, the active player cannot point at the two people next to him/her. If the game has 8-10 people, the active player cannot point at the two people next to him/her AND the two people 2 spots away from him/her.
  </p>
  <p>
    <b>3.</b> A player cannot point at the person that just pointed at him/her.
  </p>
  <p>
    <b>4.</b> Before pointing, the active player should talk as much trash as possible to psych everyone out.
  </p>

  <b>Optional Rules</b>
  <p>
    <b>1.</b> Explosion: When someone is successfully pointed at, the two people next to that person have to drink too.
  </p>

  </br></br>

  <h3>Vector Web</h3>
  <i>For when the juice is just really not flowing fast enough</i></br>
  <i>Also known by some vagrants as "fuckery"</i></br></br>

  <p>
    The active player counts off a 3-count, and then says a number 3-10. As the player finishes the 3-count, everyone points at one person. Everyone then counts up to the number the active player said, following the direction of the fingers. The person that the number lands on then has to drink - but not yet! This person first plays a round of the original "vector" to figure out who's going to drink with them!
  </p></br>
  <p><b>
    Optional rules:
  </b></p>
  <p>
    <b>1.</b> Try playing the original Vector portion with explosion!
  </p>

  </br></br>

  <h3>Happy drinking!</h3>
  <%= image_tag "151.jpg" %>

</div>
