@import "bootstrap";

html {
    background: url(image_path('background.jpg')) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background: none;
    margin-top: 50px;
}

.hero-unit {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

h1 {
    color: white;
}

.pull-left {
	margin-top: -20px;
}

footer {
    margin-top: 45px;
	border-radius: 15px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
	background-color: black;
    color: $white;
    color: $grayLight;
	background-color: black !important;
	a {
		color: white;
		&:hover {
			color: $grayLight;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}
}
