<div id="header">
  <h1>this is danny</h1></br>
</div>
<h2>entrepreneur, programmer, musician, producer, writer</h2>

<nav class="nav" id="navbar">
  <ul id="nav-items">
    <li id='home'><%= link_to "home", root_path %></li>
    <li id='projects'><%= link_to "projects", projects_path %></li>
    <li id='music'><%= link_to "music", music_path %></li>
    <li id='writing'><%= link_to "writing", writing_path %></li>
  </ul>
</nav>
